.alert {
  padding: 15px;
  width: 100%;
  height: auto;
  position: relative;
  border-radius: var(--radius);
}

.alert div.backdrop {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 0;
  opacity: 0.1;
  border-radius: var(--radius);
}

.alert.alert-warning {
  border: 1px solid hsla(var(--accent) / 30%);
  color: hsl(var(--accent));
}

.alert.alert-info {
  border: 1px solid hsla(var(--primary) / 30%);
  color: hsl(var(--primary));
}

.alert.alert-warning div.backdrop {
  background-color: hsl(var(--accent));
}

.alert.alert-info div.backdrop {
  background-color: hsl(var(--primary));
}

.alert p {
  text-align: center;
  position: relative;
  font-size: 13px;
  z-index: 1;
}
