main {
  display: flex;
  width: 100%;
}

.main-container {
  width: 300px;
}

.main-container h3,
.aside-container h3 {
  position: sticky;
  top: 0;
  background-color: var(--background);
  padding: 15px;
  border-bottom: 1px solid var(--muted);
}

.aside-container {
  width: 200px;
  border-left: 1px solid var(--muted);
}

.main-container .content {
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 15px;
  overflow-y: auto;
  max-height: 380px;
  scrollbar-width: none;
}

.main-container .content picture {
  width: 100%;
  height: auto;
  border: 1px solid var(--muted);
  text-align: center;
  border-radius: var(--radius);
  cursor: pointer;
  transition: 0.5s;
}

.main-container .content picture:hover {
  border-color: var(--primary);
}

.main-container .content picture img {
  width: 100%;
  height: auto;
}

.aside-container .content {
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 15px;
}
