header {
  display: block;
  height: 65px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 15px;
  width: 100%;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

header picture {
  display: flex;
  align-items: center;
  gap: 10px;
}

header picture svg {
  width: 32px;
  height: 32px;
}

@media (prefers-color-scheme: dark) {
  header picture svg {
    fill: white;
  }
}

header picture h1 {
  font-size: 18px;
  font-weight: bold;
}
