header {
  display: block;
  height: 65px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 15px;
  width: 100%;
  border-bottom: 1px solid var(--muted);
}

header picture {
  display: flex;
  align-items: center;
  gap: 10px;
}

header picture svg {
  width: 32px;
  height: 32px;
  fill: var(--foreground);
}
