@import url('theme.css');
@import url('utils.css');
@import url('components/switch.css');
@import url('components/alert.css');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  border: none;
}

body {
  line-height: 1;
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 600px;
  background-color: hsl(var(--background));
  color: hsl(var(--foreground));
  font-size: 14px;
}

a {
  color: hsl(var(--primary));
  text-decoration: none;
  transition: 0.5s;
}

a:hover {
  text-decoration: underline;
}

strong {
  font-weight: bold;
}

aside.status-container {
  width: 100%;
}

header {
  display: block;
  height: 65px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 15px;
  width: 100%;
  border-bottom: 1px solid hsl(var(--muted));
}

header picture {
  display: flex;
  align-items: center;
  gap: 10px;
  font-weight: bold;
  font-size: 16px;
}

header picture svg {
  width: 32px;
  height: 32px;
  fill: hsl(var(--foreground));
}

main {
  display: flex;
  width: 100%;
}

.section-main-container {
  width: 50%;
}

.section-main-container:not(:first-child) {
  border-left: 1px solid hsl(var(--muted));
}

.section-main-container .section-title {
  padding: 15px;
  font-size: 12px;
}

.section-main-container .content {
  padding-bottom: 15px;
}

.section-main-container .content:not(:first-child) {
  border-top: 1px solid hsl(var(--muted));
}

.section-main-container .content section {
  display: flex;
  flex-direction: column;
  padding: 0 15px;
  gap: 5px;
}

.section-main-container .content section.section-group-grid {
  flex-direction: row;
  flex-wrap: wrap;
}

.section-main-container .content section .section-item {
  padding: 12px 10px;
  border-radius: var(--radius);
  border: 1px solid hsl(var(--muted));
  transition: 0.5s;
  cursor: pointer;
  color: hsl(var(--muted-foreground));
  position: relative;
}

.section-main-container .content section .section-item.active {
  border-color: hsl(var(--primary));
  color: hsl(var(--primary));
}

.section-main-container .content section.section-group-grid .section-item {
  text-align: center;
  width: 53px;
}

.section-main-container .content .section-item:hover {
  color: hsl(var(--primary));
  border-color: hsl(var(--primary));
}

footer {
  display: flex;
  justify-content: space-between;
  padding: 15px;
  width: 100%;
  border-top: 1px solid hsl(var(--muted));
  color: hsl(var(--muted-foreground));
  font-size: 12px;
}
