@import url('theme.css');
@import url('components/switch.css');
@import url('components/alert.css');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  border: none;
}

body {
  line-height: 1;
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 560px;
  background-color: hsl(var(--background));
  color: hsl(var(--foreground));
  font-size: 14px;
}

a {
  color: hsl(var(--primary));
  text-decoration: none;
  transition: 0.5s;
}

a:hover {
  text-decoration: underline;
}

strong {
  font-weight: bold;
}

aside.alerts-container {
  width: 100%;
}

header {
  display: block;
  height: 65px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 15px;
  width: 100%;
  border-bottom: 1px solid hsl(var(--muted));
}

header .branding {
  display: flex;
  align-items: center;
  gap: 15px;
  font-weight: bold;
  font-size: 16px;
}

header .branding svg {
  width: 30px;
  height: 30px;
  fill: hsl(var(--foreground));
}

main {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

#main > div:not(:last-child) {
  width: 100%;
}

#main > div:last-child {
  width: 80%;
}

#main > div:not(:first-child) {
  border-left: 1px solid hsl(var(--muted));
}

#main > div:first-child > section:first-child {
  border-bottom: 1px solid hsl(var(--muted));
}

#main section {
  display: flex;
  flex-direction: column;
  padding: 15px;
  gap: 15px;
}

#main section .section-title {
  font-size: 12px;
}

#main section div#section-fontSize {
  display: flex;
}

#main section > div .section-item {
  padding: 12px 10px;
  border: 1px solid hsl(var(--muted));
  transition: 0.5s;
  cursor: pointer;
  color: hsl(var(--muted-foreground));
  position: relative;
}

#main section > div .section-item:not(:first-child) {
  margin-top: -1px;
}

#main section div#section-fontSize .section-item {
  text-align: center;
  width: 40px;
  margin-top: 0;
  transition: 0.5s;
}

#main section div#section-fontSize .section-item:not(:first-child) {
  margin-left: -1px;
}

#main section > div .section-item.active {
  background-color: hsla(var(--primary) / 8%);
  color: hsl(var(--primary));
}

#main section > div .section-item:hover {
  color: hsl(var(--primary));
}

footer {
  display: flex;
  justify-content: space-between;
  padding: 15px;
  width: 100%;
  border-top: 1px solid hsl(var(--muted));
  color: hsl(var(--muted-foreground));
  font-size: 12px;
}

.hidden {
  display: none !important;
}
