:root {
  --background: 210.2 4% 8.9%;
  --foreground: 0 0% 98%;
  --primary: 217.2 91.2% 59.8%;
  --muted: 0 0% 18.9%;
  --muted-foreground: 0 0% 63.9%;
  --accent: 47.9 95.8% 53.1%;
  --radius: 0.2rem;
}
